{% extends 'bootstrap/base.html' %}

{% block title %}
THIS IS A TEST
{% endblock %}

{% block navbar %}

<div>
   Microblog:
   <a href="{{ url_for('index') }}">Home</a>
   {% if current_user.is_anonymous %}
   <a href="{{ url_for('login') }}">Login</a>
   {% else %}
   <a href="{{ url_for('logout') }}">Logout</a>
   
   {% endif %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div style="" class="jumbotron text-center">
    <h1>Pinsta</h1>
  </div>

{% block appcontent %}{% endblock %}
{% endblock %}
