{% extends "base.html" %}

{% block appcontent %}
<div class="container">
    <div class="row">
    <div id = "greeting" class="col">
    <h1>Hi, {{ current_user.username }}!</h1>
    </div>   
    </div>   
    <div class="row"> 
    <div class="col">
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.submit() }}</p>
        
    </form>
    {% endif %}
    </div>
    <div class ="col">
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
</div>
</div>
</div>



{% endblock %}
