<form action="/profile" methods=["POST"]> 
        
        <input type="file" name="fileupload" value="fileupload" id="fileupload"> <label for="fileupload"> 
        <BR>Select a file to upload</label> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         <input type="text" name="updateusername"
        value= "@JonDoe"
        id="updateusername"> <label for="updateusername"
        BR>Change Username</label> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <input type="text" name="updatebio"
        value="Put bio here"
        id="updatebio" maxlength="200" size="50"
        > <label for="updatebio"
        BR>Update your bio here</label> 
        <br>
        <button type="submit" value="Submit">Done</button>
    
</form>